# Ignore .idea directory
.big-data-woods/.idea/
dashboard/.env
config/__pycache__/*
database/__pycache__/*
data/

app/__pycache__/*
../.idea/*
.idea/*

# Ignore vendor directory
.big-data-woods/vendor/

# Ignore dashboard/.env file
.big-data-woods/vendor/dashboard/.env

dashboard/.idea/*
dashboard/.env/*
dashboard/.vendor/*

